//Make changes to bootstrap
@import url('https://fonts.googleapis.com/css?family=Nunito:200,400,600');
$font-family-base: 'Nunito';
$enable-responsive-font-sizes: true;

//Import bootstrap to save changes
@import "node_modules/bootstrap/scss/bootstrap";

//Import AOS js
@import "node_modules/aos/src/sass/aos";

//Isotope and bootstrap cards relationship
.grid-sizer {
  width: calc(100% / 3);
  height: 50px;
  background: red;
}

//Required styles for SwipeJS
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
  padding-bottom: 1px;
}

//Responsive menu
.navbar {
  .navbar-toggler {
    position: relative;
    width: 29px;
    height: 29px;
    span.bars, span.bars:before, span.bars:after {
      border-radius: 1px;
      height: 2px;
      width: 25px;
      background: #aaa;
      position: absolute;
      left: 1px;
      display: block;
      content: "";
      transition: all 300ms ease-in-out;
    }
    span.bars:before {
      top: -8px;
      left: 0;
    }
    span.bars:after {
      top: 8px;
      left: 0;
    }
    &:focus {
      outline: none;
    }
    &:not(.collapsed) {
      span.bars {
        background-color: transparent;
        transform: rotate(90deg);
        &:before {
          top: 0;
          transform: rotate(45deg);
        }
        &:after {
          top: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
  .navbar-collapse {
    .nav-link {
      font-size: 18px;
      text-transform: uppercase;
      padding-left: 48px;
    }
  }
}

//Magic line
.magic-line{
  width: 100px;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 0;
  background: #eee;
}

//Navigation X scroll
.nav-x-scroll {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }
  li {
    display: inline-block;
  }
}

//Submenu
.nav.submenu {
  .submenu-block {
    display: none;
    .nav-item {
      position: relative;
      &:after {
        content: "";
        width: 0;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 50%;
        background: #eee;
        transition: all 300ms ease-in-out;
      }
      &.active:after {
        left: 0;
        width: 100%;
      }
    }
  }
}

body {
  .nav {
    .nav-item {
      .nav-link {
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .09rem;
        text-transform: uppercase;
        padding: 0.5rem 0.9rem;
        &.active {

        }
      }
    }
  }
}

.card-columns {
  column-gap: 0.75rem;
  .card {
    cursor: pointer;
    border-radius: 1.25rem;
    overflow: hidden;
    display: block;
    .card-img-overlay {
      .card-title {
        background: rgba(0, 0, 0, 0.3);
        bottom: -44px;
        transition: all 300ms ease-in-out;
      }
    }
    /*&:hover {
      .card-img-overlay {
        .card-title {
          bottom: 0;
        }
      }
    }*/
  }
}

// Image popup
.image-popup {
  &.fade {
    &:not(.show) {
      .modal-dialog {
        transform: scale(1);
      }
    }
  }
  .modal-dialog {
    padding: 0.5rem; // styling shit, can be removed actually
    .modal-content {
      border: 0;
      border-radius: 1.25rem;
      box-shadow: 0px 2px 3px #aaa;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);// Just found on internet
      .modal-header {
        padding: 0;
        img {
          width: 100%;
          border-radius: 1.25rem 1.25rem 0 0;
        }
        .close {
          position: absolute;
          right: 25px;
          top: 25px;
          padding: 0;
          width: 40px;
          height: 40px;
          font-size: 40px;
          opacity: 1;
          color: #666;
          box-shadow: 0px 0px 4px #666;
          &:hover {
            color: #333;
            box-shadow: 0px 0px 5px #333;
          }
          span {
            vertical-align: super;
          }
        }
      }
    }
  }
}
// Modal transparent bg
.modal-backdrop {
  &.show {
    display: none;
  }
}

// About-us
#about-us {
  .paralax {
    height: 200px;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)), url('/img/about.jpg');
    background-size: cover;
    @include media-breakpoint-up(md) {
      height: 400px;
      background-attachment: fixed;
      background-position-x: center;
      background-position-y: -120px;
    }
  }
  #about-us-desc {

  }
  .map-container {
    height: 250px;
  }
  .blockquote {
    .blockquote-footer {
      &:before {
        content: none;
      }
    }
  }
}
